/* LCARS fills */

/* 2357 series */

.lc235701 {
    fill: #ffff99;
}
.lc235702 {
    fill: #ffcc99;
}
.lc235703 {
    fill: #ffcc66;
}
.lc235704 {
    fill: #cc99cc;
}
.lc235705 {
    fill: #664466;
}
.lc235706 {
    fill: #99ccff;
}
.lc235707 {
    fill: #3366cc;
}
.lc235701 {
    fill: #006699;
}

/* 2369 seroes */

.lc236901 {
    fill: #9999cc;
}
.lc236902 {
    fill: #9999ff;
}
.lc236903 {
    fill: #cc99cc;
}
.lc236904 {
    fill: #cc6699;
}
.lc236905 {
    fill: #cc6666;
}
.lc236906 {
    fill: #ff9966;
}
.lc236907 {
    fill: #ff9900;
}
.lc236908 {
    fill: #ffcc66;
}

/* 2375 series */

.lc237501 {
    fill: #6688cc;
}
.lc237502 {
    fill: #4455bb;
}
.lc237503 {
    fill: #9977aa;
}
.lc237504 {
    fill: #774466;
}
.lc237505 {
    fill: #dd6644;
}
.lc237506 {
    fill: #aa5533;
}
.lc237507 {
    fill: #bb6622;
}
.lc237508 {
    fill: #ee9955;
}

/* 2379 series */

.lc237901 {
    fill: #ccddff;
}
.lc237902 {
    fill: #5599ff;
}
.lc237903 {
    fill: #3366ff;
}
.lc237904 {
    fill: #0011ee;
}
.lc237905 {
    fill: #000088;
}
.lc237906 {
    fill: #bbaa55;
}
.lc237907 {
    fill: #bb4411;
}
.lc237908 {
    fill: #882211;
}
